@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AboutLayout.cshtml";
}

<div>
    <h2>HAKKIMIZDA</h2>
</div>
<div class="row">
    <div class="col-2">
        <div class="col-md-10">
            <h4>
                Müşterilerimize ve satıcılarımıza kusursuz bir e-ticaret deneyimi yaşatmak için 2022’da kurulduk.
                Bugün, Türkiye'nin lider e-ticaret şirketi ve dünyanın önde gelen platformlarından
                biri olmanın yanı sıra ülkemizin ilk decacorn’uyuz!
                Esnaf ve KOBİ'lerimizi dijitalleştirerek, onları daha çok müşteriye
                ulaştırıyoruz ve işlerini büyütüyoruz.Kadınların dijital ekonomiye katılımını,
                yerli üretimi ve üreticileri destekliyoruz. Böylece ülke ekonomisinin
                büyümesine ve istihdamın artmasına önemli katkı sağlıyoruz.
                Türkiye’nin Taze Mareket’i olarak ülkemizin lider Ar-Ge merkezlerinden Taze Mareket Tech,
                en hızlı gelişen taşıma ağı Taze Mareket Express, Market ve Yemek hızlı
                teslimat hizmeti veren Taze Mareket Go ve en büyük ikinci el ürün platformu
                Taze Mareket Raflar ile değer üretmeye ve hızla büyümeye devam ediyoruz.
            </h4>
        </div>
    </div>
</div>





